@model PaymentResponseModel
@{
    ViewBag.Title = "Kết quả thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Thanh toán VnPay thành công với:</h5>
<h6>OrderId: @Model.OrderId</h6>
<h6>OrderInfo: @Model.OrderDescription</h6>
<h6>Mã giao dịch: @Model.TransactionId</h6>
<h6>Mã thanh toán: @Model.PaymentId</h6>
<p><strong>Phương thức thanh toán:</strong> @Model.PaymentMethod</p>
<h5>Xem <a asp-controller="Account" asp-action="History">lịch sử đơn hàng đã đặt</a></h5>