@model IEnumerable<PetModel>
@{
    ViewData["title"] = "List Pets";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>List Pets</h3>

    <a class="btn btn-primary" asp-action="Create" asp-controller="Pet">Add Pet</a>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pet Name</th>
                <th>Pet Description</th>
                <th>Pet Sex</th>
                <th>Pet Image</th>
                <th>Pet Slug</th>
                <th>Pet Category</th>
                <th>Pet Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@Html.Raw(@item.Description)</td>
                    <td>@item.SexDisplay</td>
                    @if (@item.Image == "null.jpg")
                    {
                        <td> <img src="~/images/null.jpg" width="120px" /> </td>
                    }
                    else
                    {
                        <td> <img src="~/images/pets/@item.Image" width="120px" height="150px" /> </td>
                    }
                    <td> @item.Slug </td>
                    <td> @item.PetCategory?.Name </td>
                    <td> @item.AgeDisplay </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Pet" asp-route-Id="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Pet" asp-route-Id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
