@{
	ViewData["Title"] = "Add Pet";
}
@model PetDto
@using PetIsland.Init

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Pet</h2>
        <form method="post" enctype="multipart/form-data" asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-8">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"> Sex</label>
                <div class="col-sm-8">
                    <select asp-for="Sex" class="form-select">
                        <option value='@Initialize.Sexual.Boy'>Boy</option>
                        <option value='@Initialize.Sexual.Girl'>Girl</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"> Tags</label>
                <div class="col-sm-8">
                    <select asp-for="Tags" class="form-select">
                        <option value='@Initialize.TypePet.Dog'>Dog</option>
                        <option value='@Initialize.TypePet.Cat'>Cat</option>
                        <option value='@Initialize.TypePet.Bird'>Bird</option>
                        <option value='@Initialize.TypePet.Fish'>Fish</option>
                        <option value='@Initialize.TypePet.Rabbit'>Rabbit</option>
                        <option value='@Initialize.TypePet.Horse'>Horse</option>
                        <option value='@Initialize.TypePet.Hamster'>Hamster</option>
                        <option value='@Initialize.TypePet.Reptile'>Reptile</option>
                        <option value='@Initialize.TypePet.Amphibian'>Amphibian</option>
                        <option value='@Initialize.TypePet.Insect'>Insect</option>
                        <option value='@Initialize.TypePet.Arachnid'>Arachnid</option>
                        <option value='@Initialize.TypePet.Other'>Other</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="ImageFile" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ImageFile">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
