@model List<ProductModel>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách sản phẩm</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Mô tả</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    @if (@product.Image == "null.jpg")
                    {
                        <td> <img src="~/images/null.jpg" width="120px" /> </td>
                    }
                    else
                    {
                        <td> <img src="~/images/products/@product.Image" width="120px" height="150px" /> </td>
                    }
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@Html.Raw(@product.Description)</td>
                    <td>
                        <a class="btn btn-default" asp-action="Details" asp-route-id="@product.Id">Chi tiết</a>
                        <button class="btn btn-warning add-to-cart ml-2">
							<i class="fa fa-shopping-cart"></i>Add to cart
						</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có sản phẩm nào.</p>
}


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
<script>
    $('.add-to-cart').click(function () {
        var Id = $(this).data("product_id");
        //alert(product_id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Add", "Cart")",
            data: { Id: Id }, // Send data to the server

            success: function (result) {
                // Handle successful update
                if (result) {

                    Swal.fire("Thêm giỏ hàng thành công.");
                }
            }

        });
    });

</script>
}