@model IEnumerable<OrderModel>

@{
    ViewData["title"] = "List Order";

    var pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>List Order</h3>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Code</th>
                <th>Shipping Cost</th>
                <th>Coupon</th>
                <th>GrandTotal</th>
                <th>UserName</th>
                <th>Order Status</th>
                <th>Payment Method</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderCode</td>
                    <td>@item.ShippingCost.ToString("#,##0 đ")</td>
                    <td>@item.CouponCode</td>
                    <td>@item.GrandTotal</td>
                    <td>@item.UserName</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-success">Đơn hàng mới</span>
                        }
                        else if (item.Status == 2)
                        {
                            <span class="text text-success">Đã giao hàng</span>
                        }
                        else
                        {

                            <span class="text text-danger">Đã hủy</span>
                        }
                    </td>
                    <td>
                        @{
                            string? text = item.PaymentMethod;
                            string? method = text?.Split(" ")[0];
							string? numid = text?.Split(" ")[1];
                        }
                        @if (string.IsNullOrEmpty(item.PaymentMethod))
                        {
                        <span class="text text-primary">COD</span>
                        }
                        else
                        {
                            @if (method == "MOMO"){
                                @method
                                <a asp-route-orderId="@numid" asp-action="PaymentMomoInfo" asp-controller="Order"><span class="text text-success">@numid</span></a>
                            }
                            else if (method == "VnPay")
                            {
                                @method
                                <a asp-route-orderId="@numid" asp-action="PaymentVnpayInfo" asp-controller="Order"><span class="text text-success">@numid</span></a>
                            }
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Order" asp-route-ordercode="@item.OrderCode">Delete</a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_paging" model="@pager" />
   
</body>
</html>
