@model IEnumerable<OrderModel>

@{
    ViewData["title"] = "List Order";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>List Order</h3>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Code</th>
                <th>Shipping Cost</th>
                <th>Coupon</th>
                <th>UserName</th>
                <th>Order Status</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderCode</td>
                    <td>@item.ShippingCost.ToString("#,##0 đ")</td>
                    <td>@item.CouponCode</td>
                    <td>@item.UserName</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-success">Đơn hàng mới</span>
                        }
                        else if (item.Status == 2)
                        {
                            <span class="text text-success">Đã giao hàng</span>
                        }
                        else
                        {

                            <span class="text text-danger">Đã hủy</span>
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Order" asp-route-ordercode="@item.OrderCode">Delete</a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</body>
</html>
