@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "List Product";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>List Products</h3>

    <a class="btn btn-primary" asp-action="Create" asp-controller="Product">Add Product</a>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Sold out</th>
                <th>Product Quantity</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Image</th>
                <th>Product Slug</th>
                <th>Product Category</th>
                <th>Product Brand</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @if (@item.Quantity == 0)
                        {
                            <span class="text text-danger"><b> @item.Quantity</b></span>
                        }
                        else
                        {
                            <span class="text text-primary"> @item.Quantity</span>
                        }

                    </td>
                    <td>@item.SoldOut</td>
                    <td><a asp-action="CreateProductQuantity" asp-controller="Product" asp-route-Id="@item.Id">Add Quantity?</a></td>
                    <td>@Html.Raw(@item.Description)</td>
                    <td>@item.Price.ToString("#,##0 VNĐ")</td>
                    @if (@item.Image == "null.jpg")
                    {
                        <td> <img src="~/images/null.jpg" width="120px" /> </td>
                    }
                    else
                    {
                        <td> <img src="~/images/products/@item.Image" width="120px" height="150px" /> </td>
                    }
                    <td> @item.Slug </td>
                    <td> @item.ProductCategory?.Name </td>
                    <td> @item.Brand?.Name </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-controller="Product" asp-route-Id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
