@model SearchVM!

@if (Model != null)
{
    <h3>Search Results for "@Model.SearchKey"</h3>

    @if (Model.Pets != null && Model.Pets.Any())
    {
        <ul>
            @foreach (var pet in Model.Pets)
            {
                <li>
                    <a href="@Url.Action("Detail","Pet", new { id = pet.Id}, protocol: Context.Request.Scheme)">
                        <img src="~/image/pets/@pet.Image" alt="@pet.Name" style="width:50px;height:50px;" />
                        @pet.Name
                    </a>
                </li>
            }
        </ul>
    }

    @if (Model.Products != null && Model.Products.Any())
    {
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>
                    <a href="@Url.Action("Detail","Pet", new { id = product.Id}, protocol: Context.Request.Scheme)">
                        <img src="~/images/products/@product.Image" alt="@product.Name" style="width:50px;height:50px;" />
                        @product.Name
                    </a>
                </li>
            }
        </ul>
    }
}
else
{
    <h3>Not found for "@Model.SearchKey"</h3>
}