@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">
    <partial name="_SidebarPartial" />
</div>

<div class="col-sm-9 padding-right">
    <div class="features_items">
        @if (ViewBag.count > 0)
        {
            <partial name="_FilterProducts" />
        }
        
        <!--features_items-->
        <h2 class="title text-center">@ViewBag.Slug</h2>

        @foreach (var item in Model)
        {

            <div class="col-sm-4">
                <div class="product-image-wrapper">

                    <a>
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/media/products/@item.Image" alt="@item.Name" width="100px" height="200px" />
                                <h2>@item.Price.ToString("#,##0 VNĐ")</h2>
                                <p>@item.Name</p>
                                <p>Danh mục: @item.ProductCategory.Name</p>

                                <a asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                    </a>

                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div><!--features_items-->



</div>
@if (ViewBag.count > 0)
        {
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            $("#slider-range").slider({

                range: true,
                min: @ViewBag.minprice,
                max: @ViewBag.maxprice,
                step: 100000,
                values: [@ViewBag.minprice, @ViewBag.maxprice],
                slide: function (event, ui) {
                  
                    $("#amount").val("đ" + ui.values[0] + " - đ" + ui.values[1]);
                }
            });
           $("#amount").val("đ" + $("#slider-range").slider("values", 0) +
                " - đ" + $("#slider-range").slider("values", 1));
           
            //btn lọc giá
            $('.btn-locgia').on('click', function () {

                var url = $(this).data("current_url");
                // alert(url);
                if (url) {
                    window.location = url + "?startprice=" + $("#slider-range").slider("values", 0)
                        + "&endprice=" + $("#slider-range").slider("values", 1);
                }
                return false;
            });
            
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#sort_by').on('change', function () {

                var url = $(this).val();
                // alert(url);
                if (url) {
                    window.location = url;
                }
                return false;
            });

        });
    </script>
}
}


